body {
    margin: 40px;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA0L2pvYjE4NDktYmFja2dyb3VuZC1ib29tLTAxYi5qcGc.jpg);
  }

.home{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.home:hover{
    transform: scale(1.15);
}

.img1{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container2{
    margin-top: 30px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
}
.drink{
    width: 25%;
}
p{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}


.stars{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.hhk{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

@keyframes colorChange {
    0% {
      color: rgb(238, 0, 0);
    }
    50% {
      color: rgb(255, 123, 0);
    }
    100% {
      color: rgb(255, 200, 0);
    }
  }

  h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    animation: colorChange 5s infinite;
    background-color: black;

  }
  h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }
  h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
.croffle{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 500px){
    .container2 {grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
}
}
@media (min-width: 700px){
    .container2 {grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
}
}
@media (min-width: 1118px){
    .container2 {grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
}
}