body{
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA0L2pvYjE4NDktYmFja2dyb3VuZC1ib29tLTAxYi5qcGc.jpg);
  }
.home{
    width: 20%;
  }
.home:hover{
    transform: scale(1.15);
  }
.forward{
    width: 20%;
  }
.forward:hover{
    transform: scale(1.15);
  }
.title{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    margin-top: 50px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3px;
}
.TC1{
    width: 130%;
    margin-right: 250px;
    margin-top: 90px;
    z-index: 2;
}
.TC2{
    width: 80%;
    rotate: -10deg;
}
.TC3{
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.TC4{
    width: 50%;
    rotate: -20deg;
}
.TC5{
    width: 60%;
    margin-right: 50px;
}
.TC6{
    width: 60%;
    grid-column-start: 2;
    grid-column-end: 3;
}
.TC7{
    width: 90%;
    margin-right: 40px;
    rotate: 10deg;
}
.TC8{
    width: 100%;
}
h2{
  margin-top: 100px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
h3{
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
.stars{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
