body{
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA0L2pvYjE4NDktYmFja2dyb3VuZC1ib29tLTAxYi5qcGc.jpg);
}
.home{
    width: 20%;
    
  }
.home:hover{
    transform: scale(1.15);
  }
.forward{
    width: 20%;
  }
.forward:hover{
    transform: scale(1.15);
  }
header{
    margin-top: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}
.pic1{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container{
  margin-top: 50px;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}
.imgs{
  width: 80%;
}
.ps{
  width: 30%;
}
.ps1{
  width: 20%;
}
.ps2{
  width: 15%;
}
.text1{
    width: 95px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(220, 199, 155);
    padding: 8px;
    border-radius: 50px;
}
.text2{
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;

}
h2{
    margin-top: 50px;
    width: 95px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    background-color: lightpink;
    padding: 8px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}