
.home{
    width: 25%;
    
  }
.home:hover{
    transform: scale(1.15);
  }
.forward{
    width: 20%;
  }
.forward:hover{
    transform: scale(1.15);
  }
  .text{
    display: none;
}
.korean:hover + .text{
    display: block;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #bfceeb;
    text-align: center;
}
.journal2{
    width: 40%;
}
h1{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(5, 58, 114);
    text-align: center;
}
img{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.Joah{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.Drinks{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(5, 58, 114);
    text-align: left;
    line-height: 33px;
}
.subhead{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
    color: rgb(175, 190, 199);
}
.container{
    margin-top: 40px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.gridimgs{
    width: 100%;
}
.gridimgs2{
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.gridimgs3{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.gridimgs4{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
p{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
}
.text2{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 30px;
    margin-right: 20px;
}
.text3{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.stars{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

@media screen and (min-width: 1112px){
    body{
        background-color: rgb(225, 241, 242);
    }
} 
@media screen and (max-wdith: 11124px){
    body{
        background-color: white;
    }
}
