
.home{
    width: 25%;
}
.home:hover{
    transform: scale(1.15);
  }
.forward{
    width: 20%;
  }
.forward:hover{
    transform: scale(1.15);
}
header{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    border: none;
    padding: 15px;
    text-align: center;
    margin: auto;
}

.container{
    margin: 30px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
 }
 
.TH1{
    width: 13%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.TH2{
  width: 13%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.TH2:hover{
  transform: scale(1.15);
}
.TH4{
  width: 13%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.TH4:hover{
  transform: scale(1.15);
}
.TH7{
    margin-top: 50px;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.croissant{
    rotate: -1deg;
    width: 50%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    padding: 10px;
    background-color: rgb(43, 42, 42);
    color: rgb(248, 245, 245);
    margin-top: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.text2{
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 60px;
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .animatedImage {
    width: 150px;
    height: 200px; 
    margin: 50px;
    animation: pulseAnimation 8s infinite; 
  }
  .stars{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }
  @media screen and (min-width: 400px){
    body{
        background-color: rgb(179, 202, 204);
    }
  } 
  @media screen and (min-width: 600px){
    body{
        background-color: rgb(77, 84, 84);
    }
  } 
@media screen and (min-width: 1112px){
  body{
      background-color: rgb(198, 207, 207);
  }
} 

