.home{
    width: 25%;
    
  }
.home:hover{
    transform: scale(1.15);
  }
.forward{
    width: 20%;
  }
.forward:hover{
    transform: scale(1.15);
  }
.plantshed{
    width: 30%;
    display: block;
    margin-left: 500px;
    margin-right: auto;
    margin-top: 40px;
}
.PS9{
    width: 40%;
    margin-top: 40px;
    display: block;
    margin-left: 430px;
    margin-right: auto;
}
h1{
    text-align: center;
    margin-top: 60px;
    font-family: 'DM Sans', sans-serif;
}
p{
    font-family: 'Reenie Beanie', cursive;
    font-size: 23px;
    text-align: center;
    word-wrap: break-word;
    width: 150px;
    float: left;
    margin-left: 100px;
    margin-top: 80px;
    rotate: -10deg;
}
.PS4{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#text-p{
    position: relative;
}
#text-c{
    position: absolute;
    bottom: 30%;
    right: 20%;
    word-wrap: break-word;
    margin: 5px;
    width: 150px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 23px;
    rotate: 15deg;
}
.PS8{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#text-p2{
    position: relative;
}
#text-c2{
    position: absolute;
    top: 30%;
    left: 10%;
    word-wrap: break-word;
    margin: 5px;
    width: 150px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 23px;
    rotate: -10deg;
}
.next{
    width: 15%;
    float: right;
}

