.home{
  width: 25%;
  
}
.home:hover{
  transform: scale(1.15);
}
.forward{
  width: 20%;
}
.forward:hover{
  transform: scale(1.15);
}
.container{
  margin-top: 50px;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}
header{
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin-left: 50px;
  margin-top: 60px;
}
h2{
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin-left: 50px;
}
.gridimga{
  width: 70%;
  grid-column-start: 2;
  grid-column-end: 4;
}
.gridimgb{
  width: 50%;
  grid-column-start: 4;
  grid-column-end: 6;
}
.gridimgc{
  width: 40%;
  grid-column-start: 4;
  grid-column-end: 6;
}
.gridimgd{
  width: 110%;
  grid-column-start: 1;
  grid-column-end: 4;
}

