.homebutton{
    width: 6%;
    float: left;
    margin-top: 0;
}
.ten{
    display: block;
    margin-left: 400px;
    margin-right: auto;
    margin-top: 30px;
    width: 40%;
}
h1{
    text-align: center;
    margin-top: 60px;
    font-family: 'DM Sans', sans-serif;
}
.T1{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#text-p{
    position: relative;
}
#text-c{
    position: absolute;
    top: 30%;
    left: 10%;
    word-wrap: break-word;
    margin: 5px;
    width: 150px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 23px;
    rotate: -10deg;
}
.T2{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#text-p2{
    position: relative;
}
#text-c2{
    position: absolute;
    bottom: 30%;
    right: 10%;
    word-wrap: break-word;
    margin: 5px;
    width: 150px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 23px;
    rotate: 10deg;
}
#text-p3{
    position: relative;
}
.T3{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#text-c3{
    position: absolute;
    top: 30%;
    left: 10%;
    word-wrap: break-word;
    margin: 5px;
    width: 150px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 23px;
    rotate: -10deg;
}
.next{
    width: 15%;
    float: right;
}