body {
    margin: 40px;
  }

header{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}
  
.container {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 30px;
    background-color: #fff;
  }
  
.button{
background-color: rgb(225, 224, 222);
background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699315200&semt=ais);
border-radius: 100px;
border-color: white;
padding: 2px;
}
button:hover{
    transform: scale(1.15);
}
  
img{
    width: 110%;
}
p{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 150px;
}
h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
}
h3{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}
#strawberry{
    width: 78%;
}
@media (min-width: 500px){
    .container {grid-template-columns: repeat(1, 1fr);
}
}
@media (min-width: 700px){
    .container {grid-template-columns: repeat(5, 1fr);
}
}
@media (min-width: 1118px){
    .container {grid-template-columns: repeat(10, 1fr);
}
}

