.index{
  display: block;
    margin-left: 400px;
    margin-right: auto;
    margin-top: 30px;
    width: 40%;
}
.sum1{
  position: relative;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: black;
  margin-left: 425px;
  margin-right: auto;
}
.entry1{
    width: 25%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 20%;
}
.entry2{
  width: 20%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 35%;
}
.entry3{
    width: 20%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 20%;
}
.entry4{
    width: 25%;
    height: auto;
    position: absolute;
    top: 63%;
    left: 50%;
}
.entry5{
    width: 20%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 60%;
}
.entry6{
  width: 30%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 20%;

}

